<footer
    class="text-text-secondary text-xs flex gap-1 justify-center items-center pb-8"
>
    <p>
        © {new Date().getFullYear()} Letras y Acordes. Todos los derechos reservados.
    </p>

    Desarrollado por <a
        href="https://github.com/edgarbri26"
        class="hover:underline hover:text-accent-main"
        target="_blank">Edgar Briceño</a
    >
    |
    <a
        href="https://github.com/edgarbri26/cancionero-digital-frontend
"
        class="hover:underline hover:text-accent-main text-accent-main/70"
        target="_blank">GitHub</a
    >
    |
    <a
        href="https://wa.me/584262498651"
        class="hover:underline hover:text-accent-main text-accent-main/70"
        target="_blank"
    >
        contacto</a
    >
</footer>
