---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="h-full w-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-bg-main text-text-main h-full w-full">
		<slot />
	</body>
</html>
